/*@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");*/

/*------------------------------------------------*/

/********************Common************************/

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.languages li {
  list-style: none;
}

i {
  display: inline-block;
}

.bfh-selectbox-options ul {
  width: 284px !important;
  padding: 0px;
}

.bfh-selectbox-options ul li {
  list-style: none;
}

.login-form {
  background: url("/images/pattern/04.png") no-repeat 0 0;
  background-size: cover;
}

.title-wrapper {
  width: 100%;
}

.full-width {
  width: 100%;
}

.inner-intro {
  background-image: url("/images/bg/inner-bg-2.jpg");
}

.form-1 {
  z-index: 0;
}

.activity-status,
.offline:before,
.online:before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 4px;
}

.offline:before {
  background: red;
}

.online:before {
  background: green;
}

.vip-status {
  color: gold;
  text-transform: uppercase !important;
  font-weight: bold;
}

/*.carousel-inner{
  overflow: unset;
}*/

/********************Common************************/

/*------------------------------------------------*/

/*------------------------------------------------*/

/************* Country selector********************/

input[data-type="contry-selector"] {
  width: 100%;
  background: #ccc;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: normal;
}

.country-select .country-list .divider {
  border: none;
  width: 100%;
}

.country-select .country-list .divider:before {
  background: -webkit-gradient(linear, left top, right top, from(red), to(yellow));
  background: linear-gradient(to right, red, yellow);
  height: 3px;
}

/************* Country selector ********************/

/*------------------------------------------------*/

/*----------------------------------------------- */

/******************* Profiles ********************/

.user-avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 329px;
}

/******************* Profiles ********************/

/*----------------------------------------------- */

/*------------------------------------------------*/

.btn-circle.active {
  -webkit-box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0.3);
}

.user-bio {
  color: white;
}

.image-upload-btn {
  cursor: pointer;
}

.upload-btn {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.image-placeholder {
  min-width: 100%;
  min-height: 326px;
}

.image-placeholder:hover {
  -webkit-filter: blur(2px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0px #000000 !important;
          box-shadow: 0 0 0px #000000 !important;
}

/*--------------------------------------------------*/

.images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images-wrapper .user-images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.images-wrapper .user-images .user-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 10px;
}

.images-wrapper .user-images .user-image img {
  max-height: 350px;
}

.images-wrapper .user-images .user-image.main-image {
  /*grid-column-start: 1;
        grid-column-end: span col4-start;
        grid-row-start: 2;
        grid-row-end: span 2;*/
}

.images-wrapper .user-images .user-image .delete-image-btn {
  position: absolute;
  margin-left: calc(25% - 24px);
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
}

.images-wrapper .user-images .user-image .delete-image-btn button {
  background: none;
  border: none;
}

.images-wrapper .user-images .user-image .delete-image-btn:hover button {
  color: red;
}

.images-wrapper .user-images .user-image .main-image-toggler {
  position: absolute;
  margin: 272px 12px 10px 106px;
}

.images-wrapper .user-images .user-image .main-image-toggler .favorite-toggle {
  width: 68px;
  height: 68px;
  display: block;
  cursor: pointer;
}

.images-wrapper .user-images .user-image .main-image-toggler .favorite-toggle-off:hover,
.images-wrapper .user-images .user-image .main-image-toggler .favorite-toggle-on {
  background: url("/images/favorite-btn-on.png") no-repeat center;
  background-size: contain;
}

.images-wrapper .user-images .user-image .main-image-toggler .favorite-toggle-on:hover,
.images-wrapper .user-images .user-image .main-image-toggler .favorite-toggle-off {
  background: url("/images/favorite-btn-off.png") no-repeat center;
  background-size: contain;
}

/*--------------------------------------------------*/

@media screen and (min-width: 820px) {
  .banner-form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

