@import url(https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css);main {
  height: 100%;
}

#chats {
  height: calc(100vh - 128px);
  width: 70%;
  float: right;
}

#chats .chat-main-box {
  height: 100%;
}

#chats .chat-main-box .chat-left-aside .chat-left-inner .chatonline .nav-item {
  padding: 5px;
  margin: 0px;
}

#chats .chat-main-box .chat-left-aside .chat-left-inner .chatonline .nav-item:hover,
#chats .chat-main-box .chat-left-aside .chat-left-inner .chatonline .nav-item.active {
  cursor: pointer;
  background: rgba(1, 1, 1, 0.05);
}

#chats .chat-main-box .chat-left-aside .chat-left-inner .chatonline .nav-item p {
  max-height: 23px;
}

#chats .chat-main-box .chat-right-aside .chat-list {
  height: 80%;
}

.chat-messages {
  width: 100%;
  float: right;
  height: 100vh;
  overflow-y: auto;
  overflow-y: scroll;
}

.chat-messages .show-more {
  text-align: center;
}

.chat-item {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #chats {
    width: 100%;
    /*height: calc(100vh - 128px);*/
  }

  #chats .chat-main-box {
    width: 100%;
  }

  #chats .chat-main-box .chat-left-aside .open-panel {
    top: 40%;
  }

  #chats .chat-main-box .chat-left-aside .chat-left-inner .chatonline {
    height: 87vh;
  }

  #chats .chat-main-box .chat-right-aside .send-chat-box {
    position: unset;
  }

  #chats .chat-main-box .chat-right-aside .chat-list {
    height: 100%;
  }

  #chats .chat-main-box .chat-right-aside .chat-main-header {
    display: none;
  }

  #chats .chat-main-box .chat-right-aside .chat-box {
    height: 90%;
  }

  .slimScrollDiv {
    height: 84% !important;
  }
}

