.banner-3 .ver-center {
  position: absolute;
  top: 46%;
}

/*********************/

/*Home page reg form*/

/*******************/

.header-container {
  height: 100vh;
  margin-top: -100px;
}

.header-container .form-1 {
  top: -120px;
}

.form-inner {
  height: 341px;
  top: 167px;
}

.form-inner section {
  position: absolute;
  width: 76%;
  top: 34%;
}

.banner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-form .row {
  width: 100%;
}

.banner-form .wizard {
  /*width: 93%;*/
}

.banner-form .wizard .actions {
  display: none;
}

.banner-form .wizard .steps {
  display: none;
}

#steps-uid-0-p-1 {
  width: unset;
}

/*Home page reg form*/

/*******************/

/*********************/

/*Profiles gallery*/

/*******************/

.users-grid-block {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 14px;
}

.users-grid-block .story-item .story-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 329px;
}

.users-grid-block .story-item .story-details {
  position: relative;
  margin-top: -69px;
  height: 71px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
}

.users-grid-block .story-item .story-details .title {
  padding-bottom: 10px;
}

/*Profiles gallery*/

/*******************/

@media screen and (max-width: 500px) {
  .animated3 {
    display: none;
  }

  .page-section-ptb {
    margin-top: 200px;
  }

  .users-grid-block {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-inner section {
    width: unset;
  }
}

