.vip-access {
  text-align: center;
}

.vip-access .get-vip-btn {
  background: #ffbb04 !important;
}

.step-form {
  width: 60%;
  margin: auto;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about-me .form-group {
  width: calc( 50% - 20px);
  margin: 10px;
}

.about-me .full-width {
  width: 100%;
}

.user-bio {
  height: unset !important;
}

.title-wrapper {
  width: 100%;
}

form .form-group.inline-field div {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form .form-group.inline-field .copy-link-btn {
  cursor: pointer;
  width: 88px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
}

form .form-group.inline-field .copy-link-btn:hover {
  border: 1px solid #636b6f;
  color: #636b6f;
}

form .form-group.inline-field .copy-link-btn i {
  padding: 10px 4px;
}

.copy-link-field .reference-link {
  font-size: 1.2em;
  color: grey;
}

.copy-link-field .link-value {
  all: initial;
  min-width: 243px;
  color: white;
}

