.inner-intro {
  height: 280px;
}

.profile-cntn {
  top: 105px;
}

.button.full-rounded {
  z-index: 0;
}

.country-select .country-list {
  max-width: 350px;
  margin-left: -102px;
}

.country-select .country-list .country {
  list-style: none;
}

/* Index */

.banner-form {
  /*.row{
    display: flex;
    align-items: center;
    align-content: center;
  }*/
}

.profiles-header {
  height: 400px;
  background-image: url("/images/bg/inner-bg-2.jpg");
}

.profile-header-image {
  width: 236px;
  height: 245px;
  cursor: pointer;
}

.under-user-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*height: 2px;*/
}

.under-user-photo small {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  margin-top: -44px;
  font-size: 12px;
  font-weight: 800;
}

.container.users-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.users-header .vip-users-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 100px auto;
  max-height: 110px;
}

.container.users-header .vip-users-wrapper .vip-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 5px;
}

.container.users-header .vip-users-wrapper .vip-user img {
  width: 100%;
  height: 100%;
}

.container.users-header .vip-users-wrapper .vip-user .name {
  position: absolute;
}

.container.users-header .profile-cntn img {
  z-index: 0;
}

.recommended-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommended-users .recommended-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 20px);
  margin: 10px;
  margin-left: 0px;
}

.recommended-users .recommended-user .avatar {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 168px;
  background-position: center;
}

.recommended-users .recommended-user .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-container .sidebar {
  width: calc(25% - 20px);
  margin: 10px;
}

.info-container .user-info {
  width: calc(75% - 20px);
  margin: 10px;
}

.info-container .user-info section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-container .user-info section .info-subtitle {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.info-container .user-info section .info {
  width: 50%;
  margin-bottom: 17px;
}

.info-container .user-info section .info .title {
  font-size: 1.2em;
  font-weight: 600;
}

.photo-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.photo-gallery .gallery-item {
  width: 100%;
}

.photo-gallery .gallery-item img {
  width: 100%;
}

@media screen and (max-width: 438px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .info-container .user-info {
    width: 100%;
  }

  .info-container .sidebar {
    width: 100%;
    margin: initial;
  }

  .info-container .sidebar .recommended-users {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
    grid-gap: 10px;
    width: 100%;
  }

  .info-container .sidebar .recommended-users .recommended-user {
    width: 100%;
    margin: initial;
  }
}

@media screen and (max-width: 438px) {
  .info-container .sidebar .recommended-users {
    grid-template-columns: repeat(2, 1fr);
  }
}

