@import url('https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css');

main{
  height: 100%;
}

#chats{
  height: calc(100vh - 128px);
  width: 70%;
  float: right;
  .chat-main-box{
    height: 100%;
    .chat-left-aside{
      .chat-left-inner{
        .chatonline{
          .nav-item{
            padding: 5px;
            margin: 0px;
            &:hover, &.active{
              cursor: pointer;
              background: rgba(1, 1, 1, 0.05);
            }
            p{
              max-height: 23px;
            }
          }
        }
      }
    }
    .chat-right-aside{
      .chat-list{
        height: 80%;
      }
    }
  }
}

.chat-messages{
  width: 100%;
  float: right;
  height: 100vh;
  overflow-y: auto;
  overflow-y: scroll;
  .show-more{
    text-align: center;
  }
}

.chat-item{
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #chats{
    width: 100%;
    /*height: calc(100vh - 128px);*/
    .chat-main-box{
      width: 100%;
      .chat-left-aside{
        .open-panel{
          top: 40%;
        }
        .chat-left-inner{
          .chatonline{
            height: 87vh;
          }
        }
      }
      .chat-right-aside{
        .send-chat-box{
          position: unset;
        }
        .chat-list{
          height: 100%;
        }
        .chat-main-header{
          display: none;
        }
        .chat-box{
          height: 90%;
        }
      }
    }
  }

  .slimScrollDiv{
    height: 84%!important;
  }
}
