.vip-access{
  text-align: center;
  .get-vip-btn{
    background: #ffbb04!important;
  }
}
.step-form{
  width: 60%;
  margin: auto;
}
.about-me{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .form-group{
    width: calc( 50% - 20px;);
    margin: 10px;
  }
  .full-width{
    width: 100%;
  }
}
.user-bio{
  height: unset!important;
}
.title-wrapper{
  width: 100%;
}
form .form-group.inline-field{
  div{
    display: inline-block;
    width: fit-content;
  }
  
  .copy-link-btn{
    cursor: pointer;
    width: 88px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    &:hover{
      border: 1px solid #636b6f;      
      color: #636b6f;
    }
    i{
      padding: 10px 4px;
    }
  }
  .input-group{

  }
}
.copy-link-field{
  
  .reference-link{
    font-size: 1.2em;
    color: grey;
  }
  .link-value{
    all: initial;
    min-width: 243px;
    color: white;
  }

}