.inner-intro{
  height: 280px;
}
.profile-cntn{
  top: 105px;
}
.button.full-rounded{
  z-index: 0;
}
.country-select .country-list{
  max-width: 350px;
  margin-left: -102px;
  .country{
    list-style: none;
  }
}
/* Index */
.banner-form{
  /*.row{
    display: flex;
    align-items: center;
    align-content: center;
  }*/
}
.profiles-header{
  height: 400px;
  background-image:url('/images/bg/inner-bg-2.jpg');
}
.profile-header-image{
  width: 236px;
  height: 245px;
  cursor: pointer;
}
.under-user-photo{
  display: flex;
  justify-content: center;
  /*height: 2px;*/
  small{
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    position: absolute;
    margin-top: -44px;
    font-size: 12px;
    font-weight: 800;
  }
}

.container.users-header{
  display: flex;
  flex-direction: column;

  .vip-users-wrapper{
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 100px auto;
    max-height: 110px;
 
    .vip-user{
      display: flex;
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin: 5px;

      img{
        width: 100%;
        height: 100%;
      }
      .name{
        position: absolute;
      }
    }
  }

  .profile-cntn{
    img{
      z-index: 0;
    }
  }
}

.recommended-users{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .recommended-user{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 10px;
    margin-left: 0px;

    .avatar{
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 168px;
      background-position: center;
    }

    .info{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.info-container{
  display: flex;
  
  .sidebar{
    width: calc(25% - 20px);
    margin: 10px;
  }

  .user-info{
    width: calc(75% - 20px);
    margin: 10px;
    section{
      display: flex;
      flex-wrap: wrap;

      .info-subtitle{
        width: 100%;
        display: block;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 20px;
      }
      .info{
        width: 50%;
        margin-bottom: 17px;

        .title{
          font-size: 1.2em;
          font-weight: 600;
        }
      }
    }
    
  }
}



.photo-gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  .gallery-item{
    width: 100%;
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 438px) {
  .photo-gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .info-container{
    flex-direction: column-reverse;
    .user-info{
      width: 100%;
    }

    .sidebar{
      width: 100%;
      margin: initial;

      .recommended-users{
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0px auto;
        grid-gap: 10px;
        width: 100%;

        .recommended-user{
          width: 100%; 
          margin: initial;
        }
      }
    }
  }
}

@media screen and (max-width: 438px) {
  .info-container{
    .sidebar{
      .recommended-users{
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}